<!-- Authors:
	Nikitha Ranga
	Niharika
	Sridevi Movva
	Shubhakar Kodunu

Main landing Page -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="./landing-page.component.css" rel="stylesheet">
<div class="content">
  <div class="content__container">
    <p class="content__container__text">
      Hello
    </p>
    
    <ul class="content__container__list">
      <li class="content__container__list__item">George</li>
      <li class="content__container__list__item">Mason</li>
      <li class="content__container__list__item">University</li>
      <li class="content__container__list__item">Students !</li>
    </ul>
  </div>
</div>